body {
	background: url(../img/default/pageback.png) repeat #ffffff;
	/* Comment out the next line if you want the page background to scroll with the page */
	background-attachment: fixed;
	color: #000000;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12pt;
	text-align: center;
}

code, pre {
	font-family: "Lucida Monospaced", courier;
}

div#container {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	color: #000000;
	margin: auto;
	padding: 4px;
	text-align: left;
	/* Comment out the next line if you want the content width (plus margin) to be the same as that of the page */
	width: 80%;
}

div#footer {
	font-size: 8pt;
	clear: both;
}

div#footer p:first-letter {
	font-weight: normal;
}

div#header {
	font-family: "Georgia", serif;
	text-align: center;
}

div#main {
	margin-left: 128px;
}

div#menu {
	background-color: #c0c0c0;
	color: #000000;
	float: left;
	font-family: "Georgia", serif;
	margin: 0;
	width: 124px;
}

div#menu a {
	background-color: transparent;
	border: 1px solid;
	border-color: #e0e0e0 #a0a0a0 #a0a0a0 #e0e0e0;
	color: #000000;
	display: block;
	padding: 4px;
	text-decoration: none;
}

div#menu a:hover {
	border: 1px solid;
	border-color: #a0a0a0 #e0e0e0 #e0e0e0 #a0a0a0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", serif;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 14pt;
}

h6 {
	font-size: 12pt;
}

img {
	border: 0px;
}

input, textarea {
	max-width: 100%;
}

input {
	font-family: "Trebuchet MS", sans-serif;
}

textarea {
	font-family: "Lucida Monospaced", monospace;
	font-size: 10pt;
}

pre {
	font-family: "Lucida Console", monospace;
}
